In [1]:
import os
import boto3
import re
from sagemaker import get_execution_role

In [2]:
role = get_execution_role()

In [3]:
bucket = 'sagemaker-clever-babbage'# enter your s3 bucket where you will copy data and model artifacts
prefix = 'clever-babbage' # place to upload training files within the bucket

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import time
import json
import sagemaker.amazon.common as smac

In [24]:
data_location = 's3://{}/{}'.format(bucket, 'Period.csv')

data = pd.read_csv(data_location, header = None)

# specify columns extracted from wbdc.names
data.columns = ["id","start_date", "end_date", "User_id"] 

# save the data
data.to_csv("periods-raw.csv", sep=',', index=False)

# print the shape of the data file
print(data.shape)

# show the top few rows
display(data.head())

# describe the data object
display(data.describe())

(34943, 4)

    id  start_date  end_date  User_id
0   id  start_date  end_date  User_id
1  352      5/4/15   10/4/15      252
2  353     23/3/15   27/3/15      253
3  354      6/4/15   11/4/15      254
4  355     21/3/15   24/3/15      255

           id start_date end_date User_id
count   34943      34940    32169   34943
unique  34943       1585     1572    6704
top      4747     1/1/16  30/7/18    2386
freq        1         53       45      60

In [26]:
data['start_date'] = pd.to_datetime(data['start_date'],errors='coerce')
sorted_data = data.sort_values(by=['start_date'])
sorted_data

          id start_date    end_date  User_id
137      503 1997-04-17     24/4/97      366
2027    2950 2014-02-11     7/11/14     1374
1201    2052 2014-02-12     8/12/14     1020
67       430 2014-03-16     21/3/14      309
181      898 2014-04-08      6/8/14      447
2026    2949 2014-04-12     9/12/14     1374
1354    2224 2014-05-11     9/11/14     1083
176      893 2014-05-12     9/12/14      447
238      981 2014-07-09     13/9/14      468
1200    2051 2014-07-11    13/11/14     1020
1859    2772 2014-07-12    12/12/14     1303
1353    2223 2014-08-12    12/12/14     1083
239      982 2014-08-23     29/8/14      468
180      897 2014-08-28     31/8/14      447
179      896 2014-09-26     29/9/14      447
237      980 2014-09-29     5/10/14      468
1443    2325 2014-10-10    14/10/14     1119
1860    2773 2014-10-11    15/11/14     1303
1649    2548 2014-10-11    16/11/14     1207
1648    2547 2014-10-12    16/12/14     1207
178      895 2014-10-20    23/10/14      447
236      979 2014-10-21    27/10/14      468
1442    2323 2014-11-13    17/11/14     1119
177      894 2014-11-13    15/11/14      447
1817    2725 2014-11-15    20/11/14     1291
235      978 2014-11-26     2/12/14      468
1441    2322 2014-12-12    15/12/14     1119
88       452 2014-12-17    23/12/14      326
1586    2482 2014-12-22    25/12/14     1186
2351    3310 2014-12-24    30/12/14     1501
...      ...        ...         ...      ...
11122  12961 2059-08-26      2/9/59     1568
13572  15677 2059-12-11    19/11/59     1568
15498  17775 2059-12-16    21/12/59     4764
14646  16849 2059-12-18    27/12/59     1568
18240  20811 2060-01-05         NaN     1568
20509  23324 2060-01-08      7/8/60     4764
15624  17912 2060-01-22     28/1/60     1568
16262  18616 2060-02-15     19/2/60     4764
16613  19024 2060-02-28      9/3/60     1568
17077  19528 2060-03-17     21/3/60     4764
17415  19899 2060-03-31      6/4/60     1568
18366  20953 2060-04-25      1/5/60     4764
18937  21586 2060-05-29      3/6/60     4764
21204  24083 2060-08-29         NaN     4764
29004  32449 2061-06-19     23/6/61     6552
29795  33314 2061-07-20     22/7/61     1955
30955  34534 2061-09-15     20/9/61     6874
31245  34847 2061-09-23     26/9/61     6919
31820  35473 2061-10-15    19/10/61     7009
31983  35647 2061-10-25    28/10/61     6919
32095  35773 2061-10-30         NaN     6874
0         id        NaT    end_date  User_id
30       382        NaT  0015-03-18      277
123      487        NaT  0015-04-20      354
128      492        NaT  0015-04-15      358
2078    3010        NaT  0027-11-11     1395
4265    5419        NaT         NaN     2233
4266    5420        NaT         NaN     2233
4267    5421        NaT         NaN     2233
27039  30339        NaT  0030-04-25     6251

[34943 rows x 4 columns]

In [107]:
from itertools import islice
historical_period_list = []

for user in sorted_data['User_id'].unique():
    userdf = sorted_data[sorted_data['User_id'] == user]
    prev = userdf.iloc[0]
    if userdf.shape[0] > 1:
        current = userdf.iloc[1]
        for index, row in islice(userdf.iterrows(), 2, None):
            prev = current
            current = row
            historical_period_list.append((prev['start_date'], current['start_date'], user))
        
historical_period = pd.DataFrame(historical_period_list, columns=['previous_start_date', 'next_start_date', 'user_id'])
historical_period

      previous_start_date next_start_date user_id
0              2014-04-12      2014-12-31    1374
1              2014-12-31      2015-01-27    1374
2              2015-01-27      2015-02-24    1374
3              2015-02-24      2015-03-27    1374
4              2015-03-27      2015-04-26    1374
5              2015-04-26      2015-05-23    1374
6              2015-05-23      2015-06-24    1374
7              2015-06-24      2015-07-23    1374
8              2015-07-23      2015-08-23    1374
9              2015-08-23      2015-09-19    1374
10             2015-09-19      2015-10-21    1374
11             2015-10-21      2015-11-17    1374
12             2015-11-17      2015-12-14    1374
13             2015-12-14      2016-01-13    1374
14             2016-01-13      2016-03-13    1374
15             2016-03-13      2016-04-15    1374
16             2016-04-15      2016-11-02    1374
17             2014-07-11      2014-12-31    1020
18             2014-12-31      2015-01-26    1020
19             2015-01-26      2015-02-07    1020
20             2015-02-07      2015-02-21    1020
21             2015-02-21      2015-03-18    1020
22             2015-03-18      2015-04-15    1020
23             2015-04-15      2015-07-06    1020
24             2015-07-06      2015-07-28    1020
25             2015-07-28      2015-08-28    1020
26             2015-08-28      2015-09-23    1020
27             2015-09-23      2015-10-20    1020
28             2015-10-20      2015-11-05    1020
29             2015-11-05      2015-11-20    1020
...                   ...             ...     ...
24395          2019-03-01      2019-03-18    7037
24396          2019-03-18      2019-09-02    7037
24397          2019-01-21      2019-03-21    7028
24398          2018-12-10      2018-12-12    7005
24399          2018-12-12      2019-03-03    7005
24400          2019-03-03      2019-04-02    7005
24401          2019-04-02      2019-09-01    7005
24402          2018-12-24      2019-01-25    7052
24403          2018-12-21      2019-02-15    6858
24404          2059-01-14      2059-02-18    1568
24405          2059-02-18      2059-03-12    1568
24406          2059-03-12      2059-03-21    1568
24407          2059-03-21      2059-04-21    1568
24408          2059-04-21      2059-05-22    1568
24409          2059-05-22      2059-06-25    1568
24410          2059-06-25      2059-07-10    1568
24411          2059-07-10      2059-07-25    1568
24412          2059-07-25      2059-08-26    1568
24413          2059-08-26      2059-12-11    1568
24414          2059-12-11      2059-12-18    1568
24415          2059-12-18      2060-01-05    1568
24416          2060-01-05      2060-01-22    1568
24417          2060-01-22      2060-02-28    1568
24418          2060-02-28      2060-03-31    1568
24419          2059-01-13      2059-02-19    1638
24420          2060-01-08      2060-02-15    4764
24421          2060-02-15      2060-03-17    4764
24422          2060-03-17      2060-04-25    4764
24423          2060-04-25      2060-05-29    4764
24424          2060-05-29      2060-08-29    4764

[24425 rows x 3 columns]

In [145]:
rand_split = np.random.rand(len(historical_period))
train_list = rand_split < 0.8
val_list = (rand_split >= 0.8) & (rand_split < 0.9)
test_list = rand_split >= 0.9

data_train = historical_period[train_list]
data_val = historical_period[val_list]
data_test = historical_period[test_list]

train_y = data_train.iloc[:,1].as_matrix();
train_X = data_train.iloc[:,:1].as_matrix();

val_y = data_val.iloc[:,1].as_matrix();
val_X = data_val.iloc[:,:1].as_matrix();

test_y = data_test.iloc[:,1].as_matrix();
test_X = data_test.iloc[:,:1].as_matrix();
test_X

array([['2015-09-19T00:00:00.000000000'],
       ['2015-01-26T00:00:00.000000000'],
       ['2015-02-21T00:00:00.000000000'],
       ...,
       ['2018-12-16T00:00:00.000000000'],
       ['2059-06-25T00:00:00.000000000'],
       ['2060-04-25T00:00:00.000000000']], dtype='datetime64[ns]')

In [151]:
train_file = 'linear_train.data'

f = io.BytesIO()
smac.write_numpy_to_dense_tensor(f, train_X.astype('float32'), train_y.astype('float32'))
f.seek(0)

boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'train', train_file)).upload_fileobj(f)

In [152]:
validation_file = 'linear_validation.data'

f = io.BytesIO()
smac.write_numpy_to_dense_tensor(f, val_X.astype('float32'), val_y.astype('float32'))
f.seek(0)

boto3.Session().resource('s3').Bucket(bucket).Object(os.path.join(prefix, 'validation', validation_file)).upload_fileobj(f)

In [153]:
# See 'Algorithms Provided by Amazon SageMaker: Common Parameters' in the SageMaker documentation for an explanation of these values.
from sagemaker.amazon.amazon_estimator import get_image_uri
container = get_image_uri(boto3.Session().region_name, 'linear-learner')

In [154]:
linear_job = 'clever-babbage-' + time.strftime("%Y-%m-%d-%H-%M-%S", time.gmtime())



print("Job name is:", linear_job)

linear_training_params = {
    "RoleArn": role,
    "TrainingJobName": linear_job,
    "AlgorithmSpecification": {
        "TrainingImage": container,
        "TrainingInputMode": "File"
    },
    "ResourceConfig": {
        "InstanceCount": 1,
        "InstanceType": "ml.c4.2xlarge",
        "VolumeSizeInGB": 10
    },
    "InputDataConfig": [
        {
            "ChannelName": "train",
            "DataSource": {
                "S3DataSource": {
                    "S3DataType": "S3Prefix",
                    "S3Uri": "s3://{}/{}/train/".format(bucket, prefix),
                    "S3DataDistributionType": "ShardedByS3Key"
                }
            },
            "CompressionType": "None",
            "RecordWrapperType": "None"
        },
        {
            "ChannelName": "validation",
            "DataSource": {
                "S3DataSource": {
                    "S3DataType": "S3Prefix",
                    "S3Uri": "s3://{}/{}/validation/".format(bucket, prefix),
                    "S3DataDistributionType": "FullyReplicated"
                }
            },
            "CompressionType": "None",
            "RecordWrapperType": "None"
        }

    ],
    "OutputDataConfig": {
        "S3OutputPath": "s3://{}/{}/".format(bucket, prefix)
    },
    "HyperParameters": {
        "feature_dim": "1",
        "mini_batch_size": "100",
        "predictor_type": "regressor",
        "epochs": "10",
        "num_models": "32",
        "loss": "absolute_loss"
    },
    "StoppingCondition": {
        "MaxRuntimeInSeconds": 60 * 60
    }
}

Job name is: clever-babbage-2019-03-31-05-07-27

In [155]:
%%time

region = boto3.Session().region_name
sm = boto3.client('sagemaker')

sm.create_training_job(**linear_training_params)

status = sm.describe_training_job(TrainingJobName=linear_job)['TrainingJobStatus']
print(status)
sm.get_waiter('training_job_completed_or_stopped').wait(TrainingJobName=linear_job)
if status == 'Failed':
    message = sm.describe_training_job(TrainingJobName=linear_job)['FailureReason']
    print('Training failed with the following error: {}'.format(message))
    raise Exception('Training job failed')

InProgress
CPU times: user 72.9 ms, sys: 412 µs, total: 73.3 ms
Wall time: 4min

In [156]:
linear_hosting_container = {
    'Image': container,
    'ModelDataUrl': sm.describe_training_job(TrainingJobName=linear_job)['ModelArtifacts']['S3ModelArtifacts']
}

create_model_response = sm.create_model(
    ModelName=linear_job,
    ExecutionRoleArn=role,
    PrimaryContainer=linear_hosting_container)

print(create_model_response['ModelArn'])

arn:aws:sagemaker:ap-southeast-1:422808909929:model/clever-babbage-2019-03-31-05-07-27

In [157]:
linear_endpoint_config = 'clever-babbage-endpoint-config-' + time.strftime("%Y-%m-%d-%H-%M-%S", time.gmtime())
print(linear_endpoint_config)
create_endpoint_config_response = sm.create_endpoint_config(
    EndpointConfigName=linear_endpoint_config,
    ProductionVariants=[{
        'InstanceType': 'ml.m4.xlarge',
        'InitialInstanceCount': 1,
        'ModelName': linear_job,
        'VariantName': 'AllTraffic'}])

print("Endpoint Config Arn: " + create_endpoint_config_response['EndpointConfigArn'])

clever-babbage-endpoint-config-2019-03-31-05-18-31
Endpoint Config Arn: arn:aws:sagemaker:ap-southeast-1:422808909929:endpoint-config/clever-babbage-endpoint-config-2019-03-31-05-18-31

In [159]:
%%time

linear_endpoint = 'clever-babbage-endpoint-' + time.strftime("%Y%m%d%H%M", time.gmtime())
print(linear_endpoint)
create_endpoint_response = sm.create_endpoint(
    EndpointName=linear_endpoint,
    EndpointConfigName=linear_endpoint_config)
print(create_endpoint_response['EndpointArn'])

resp = sm.describe_endpoint(EndpointName=linear_endpoint)
status = resp['EndpointStatus']
print("Status: " + status)

sm.get_waiter('endpoint_in_service').wait(EndpointName=linear_endpoint)

resp = sm.describe_endpoint(EndpointName=linear_endpoint)
status = resp['EndpointStatus']
print("Arn: " + resp['EndpointArn'])
print("Status: " + status)

if status != 'InService':
    raise Exception('Endpoint creation did not succeed')

clever-babbage-endpoint-201903310519
arn:aws:sagemaker:ap-southeast-1:422808909929:endpoint/clever-babbage-endpoint-201903310519
Status: Creating
Arn: arn:aws:sagemaker:ap-southeast-1:422808909929:endpoint/clever-babbage-endpoint-201903310519
Status: InService
CPU times: user 185 ms, sys: 8.31 ms, total: 193 ms
Wall time: 6min 32s

In [165]:
def np2csv(arr):
    csv = io.BytesIO()
    np.savetxt(csv, arr, delimiter=',', fmt='%g')
    return csv.getvalue().decode().rstrip()

In [171]:
runtime= boto3.client('runtime.sagemaker')

payload = np2csv(test_X.astype('float32'))
response = runtime.invoke_endpoint(EndpointName=linear_endpoint,
                                   ContentType='text/csv',
                                   Body=payload)
result = json.loads(response['Body'].read().decode())
test_pred = np.array([r['score'] for r in result['predictions']])

In [174]:
test_pred

array([1.43757201e+18, 1.44008068e+18, 1.45251451e+18, ...,
       2.84070539e+18, 2.84692203e+18, 2.81142979e+18])

In [178]:
test_mae_linear = np.mean(np.abs(test_y.astype('float32') - test_pred))
test_mae_baseline = np.mean(np.abs(test_y.astype('float32') - np.median(train_y.astype('float32')))) ## training median as baseline predictor

print("Test MAE Baseline :", round(test_mae_baseline, 3))
print("Test MAE Linear:", round(test_mae_linear,3))

Test MAE Baseline : 3.2343934e+16
Test MAE Linear: 1998938127548429.5

In [179]:
c = (test_pred > 0.5)+0;
test_pred_baseline = np.repeat(np.median(train_y.astype('float32')), len(test_y))

prediction_accuracy = np.mean((test_y == test_pred_class))*100
baseline_accuracy = np.mean((test_y == test_pred_baseline))*100

print("Prediction Accuracy:", round(prediction_accuracy,1), "%")
print("Baseline Accuracy:", round(baseline_accuracy,1), "%")

Prediction Accuracy: 0.0 %
Baseline Accuracy: 0.0 %

/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:4: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
/home/ec2-user/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.

In [180]:
test_pred_baseline

array([1.499472e+18, 1.499472e+18, 1.499472e+18, ..., 1.499472e+18,
       1.499472e+18, 1.499472e+18], dtype=float32)